.write_note_section{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 93px;
    margin: auto;
}
.input_section{
   margin-right:32px;
}
.input_section  input{
    padding: 14px;
    width: 590px;
    outline: none;
    border-radius: 12px;
    background-color: ghostwhite;
    border: none; 
}
.add_btn{
    padding: 9px;
     border-radius: 8px; 
     outline: none; 
    border: none; 
    background-color: green;
    color: white;
    cursor: pointer;
}
.red{
    background-color: antiquewhite;
    color: black;
}
.login_info_section{
    margin-left: 14px;
    display: flex;
    align-items: center;
    width: 90px;
    justify-content: space-between;
}
.login_info_section .faceIcon{
    cursor: pointer;
}